<header class="cabecalho">
  <h1 class="cabecalho__title">
    <a>
      <span>FeedLawyer</span>
    </a>
  </h1>
  <div class="balanca">
    <i class="fa-solid fa-scale-balanced"></i>
  </div>
  <div>
    <nav class="cabecalho__menu">
      <ul>
        <li>
          <a
            routerLink="">Home
            <i class="fa-solid fa-house"></i>
          </a>
        </li>
        <li>
          <a routerLink="">
            Cadastro
            <i class="fa-solid fa-right-to-bracket"></i>
          </a>
        </li>
        <li>
          <a
            routerLink="">Contato
            <i class="fa-regular fa-address-card"></i>
          </a>
        </li>
        <li>
          <a><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li>
          <a><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a><i class="fa-brands fa-linkedin"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
